################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

C++(VisualStudio)/WorkSpace_MFC_Direct2D/SideViewGameSample/.vs/SideViewGameSample/v17