################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

2_C++(VisualStudio)/2_workspace_MFC_Direct2D/1_SideViewGameSample/.vs